h1{
    color:orange;
    text-align:center;
  }
h2{
    color:orange;
  }
h3{
    text-align:center;
  }
body{
    width:65%;
    margin:auto;
    text-align:justify:
    }
div{
    background-color:#FF7F50;
    font-size:20px;
    text-align:center;
    }
